<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hera Boutique</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/a1ddf57449.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../assets/images/logos/logo-pestaña-1.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav id="navPrimario">
            <img src="assets/images/logos/H-sin-fondo.png" alt="">
            <h1>Hera Boutique</h1>
            <ul>
                <a href="content/obtener-ayuda.html"><li>Ayuda</li></a>
                <div></div>
                <a href="/registro"><li>Registrate</li></a>
                <div></div>
                <a href="https://maps.app.goo.gl/MGWircg6NLpjwxgQ9" target="_blank"><li>Ubicacion</li></a>
            </ul>
        </nav>
        <nav id="navMenu">
            <img src="" alt="">
            <ul>
                <a href="/" class="links-menu"><li>Inicio</li></a>
                <a href="" class="links-menu"><li>Novedades</li></a>
                <a href="content/ropa.html" class="links-menu"><li>Ropa</li></a>
                <a href="" class="links-menu"><li>Maquillaje</li></a>
                <a href="" class="links-menu"><li>Accesorios</li></a>
                <a href="" class="links-menu" id="navMenuSpan"><span>Descuentos </span></a>
            </ul>
            <div>
                <div id="nav-menu-buscar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" name="" placeholder="Buscar productos">
                </div>
                <div class="container-icon">
                    <div class="container-cart-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon-cart">
                            <path fill="#471023" d="M7 22q-.825 0-1.412-.587T5 20t.588-1.412T7 18t1.413.588T9 20t-.587 1.413T7 22m10 0q-.825 0-1.412-.587T15 20t.588-1.412T17 18t1.413.588T19 20t-.587 1.413T17 22M5.2 4h14.75q.575 0 .875.513t.025 1.037l-3.55 6.4q-.275.5-.737.775T15.55 13H8.1L7 15h11q.425 0 .713.288T19 16t-.288.713T18 17H7q-1.125 0-1.7-.987t-.05-1.963L6.6 11.6L3 4H2q-.425 0-.712-.288T1 3t.288-.712T2 2h1.625q.275 0 .525.15t.375.425z"/>
                        </svg>
                        <div class="count-products">
                            <span id="contador-productos">0</span>
                        </div>
                    </div>
            
                    <div class="container-cart-products hidden-cart">
                        <div class="row-product hidden">
                            <div class="cart-product">
                                <div class="info-cart-product">
                                    <span class="cantidad-producto-carrito">1</span>
                                    <p class="titulo-producto-carrito">Sin producto</p>
                                    <span class="precio-producto-carrito">$0</span>
                                </div>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="icon-close"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M6 18L18 6M6 6l12 12"
                                    />
                                </svg>
                            </div>
                        </div>
            
                        <div class="cart-total hidden">
                            <h3>Total:</h3>
                            <span class="total-pagar">$0</span>
                        </div><div class="cart-Buttons">
                            <a href="/finalizar-compra" id="btn-finalizar" class="btn-add-cart">
                                <i class="fa-solid fa-check"></i>
                                <span>Finalizar pedido</span>
                            </a>
                            <button id='btn-close-cart' class="secondary-Button">Cerrar</button>
                        </div>
                        <p class="cart-empty">CARRITO DE COMPRAS</p>
                    </div>
            </div>
        </nav>
        <nav id="navAnuncio">
            <a href=""><img src="assets/videos/envios_y_devoluciones.gif" alt="envios_y_devoluciones"></a>
        </nav>
    </header>
    <img src="assets/images/advertisements/Cyber-Week.svg" alt="anuncio" class="img-Anuncio">
    <section>
        <div id="regalo">
            <h2>REGALO <span></span> NAVIDEÑO</h2>
            <p>Descubre nuestra colección especialmente diseñada para la temporada navideña. Encuentra ropa para todos los estilos, desde elegancia clásica hasta comodidad para disfrutar en casa junto a tus seres queridos.</p>
            <button class="primary-Button">Comprar</button>
        </div>
    </section>
    <section id="section-1">
        <h2>En el top de la lista de regalos</h2>
        <div>
            <div class="container-img-lista-top">
                <a href=""><img src="assets/images/catalogo/CORSET/REFCOR01.jpeg" alt=""></a>
                <button class="secondary-Button">Corset Atenea</button>
            </div>
            <div class="container-img-lista-top">
                <a href=""><img src="assets/images/catalogo/TOPS/REFTOP07.jpeg" alt=""></a>
                <button class="secondary-Button">Top Afrodita</button>
            </div>
            <div class="container-img-lista-top">
                <a href=""><img src="assets/images/catalogo/BODY/REFBOD01.jpeg" alt=""></a>
                <button class="secondary-Button">Body Perséfone</button>
            </div>
        </div>
    </section>
    <section id="section-2">
        <div class="subcontainer-section-2">
            <p class="subtitle-section-2">Destacados</p>
            <ul>
                <a href=""><li>Corset Hades</li></a>
                <a href=""><li>Top Navy</li></a>
                <a href=""><li>Top Dalia</li></a>
                <a href=""><li>Falda Sky</li></a>
            </ul>
        </div>
        <div class="subcontainer-section-2">
            <p class="subtitle-section-2">Ropa</p>
            <ul>
                <a href=""><li>Tops</li></a>
                <a href=""><li>Body's</li></a>
                <a href="">Corset's</a>
                <a href="">Pantalones</a>
                <a href="">Faldas</a>
            </ul>
        </div>
        <div class="subcontainer-section-2">
            <p class="subtitle-section-2">Accesorios</p>
            <ul>
                <a href=""><li>Pulseras</li></a>
                <a href=""><li>Anillos</li></a>
                <a href=""><li>Cadenas</li></a>
                <a href=""><li>Aretes</li></a>
            </ul>
        </div>
    </section>
    <footer>
        <div class="footer-container-1">
            <div class="footer-subcontainer-1">
                <h4 class="title-register-footer"><a href="">REGISTRATE PARA RECIBIR CORREOS</a></h4>
                <h4>EVENTOS</h4>
            </div>
            <div class="footer-subcontainer-1">
                <h4 class="title-subcontainer-footer">OBTENER AYUDA</h4>
                <ul>
                    <li><a href="" class="links-footer">Servicio al cliente</a></li>
                    <li><a href="" class="links-footer">Devoluciones</a></li>
                    <li><a href="" class="links-footer">Preguntas Frecuentes</a></li>
                    <li><a href="" class="links-footer">Términos y Condiciones</a></li>
                </ul>
            </div>
            <div class="footer-subcontainer-1">
                <h4 class="title-subcontainer-footer">ACERCA DE HERA</h4>
                <ul>
                    <li><a href="" class="links-footer">¿Quienes Somos?</a></li>
                    <li><a href="" class="links-footer">Nuestra Misión y Visión</a></li>
                </ul>
            </div>
            <div class="footer-subcontainer-2">
                <h3>NUESTRAS REDES:</h3>
                <div id="container-redes">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-container-2">
            <div id="footer-copyright">
                <span><i class="fa-solid fa-location-dot"></i>Cúcuta, Norte de Santander - COL</span>
                <span><i class="fa-regular fa-copyright"></i>Todos los derechos reservados.</span>
            </div>
            <div class="footer-terminos">
                <ul>
                    <a href=""><li>Términos de Uso</li></a>
                    <a href=""><li>Políticas de Devolución</li></a>
                    <a href=""><li>Políticas de Privacidad</li></a>
                    <a href=""><li>Términos de Venta</li></a>
                </ul>
                <img src="assets/images/logos/logo-sin-fondo.png" alt="">
            </div>
        </div>
    </footer>
    <script src="../js/carrito.js"></script>
</body>
</html>