@import url('https://fonts.cdnfonts.com/css/casselin');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    background-color: var(--bg-color);
    height: 100vh;
}

:root{
    --title-primary-color: #471023;
    --bg-button-primary-color: #f83c86;
    --bg-button-primary-hover: #b21047;
    --text-primary-color: #c84579;
    --text-secondary-color: #e482b0;
    --text-white: #fef1f7;
    --bg-secondary-color: #ffcae4;
    --title-footer-color: #f6d4e5;
    --text-footer-color: #e482b0;
    --bg-footer-color: #aa2c5a;
    --bg-color: #f9eaf2;
}

/*main*/

#container-pyr{
    margin: 1rem 3rem;
    border: #471023 solid 1px;
    padding: 2rem;
}

#container-pyr h2{
    text-align: left;
    color: var(--title-primary-color);
    font-size: 2.5rem;
}

#container-pyr p{
    font-size: 1.2rem;
    margin: 1rem 0;
    color: var(--text-primary-color);
}

#subcontainer-pyr{
    display: flex;
    margin-top: 1rem;
}

hr{
    border: 1px solid var(--title-primary-color);
    margin: 0 1rem;
}

#contactanos-pyr{
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 60%;
}

#contactanos-pyr i{
    font-size: 3rem;
    color: var(--title-primary-color);
}

#contactanos-pyr a{
    color: var(--text-primary-color);
    font-weight: 500;
}

#contactanos-pyr span{
    color: var(--title-primary-color);
    font-weight: 500;
}